__pycache__
.project
.pydevproject
.flaskenv
.settings/
coverage.xml
nosetests.xml
.coverage
sos_trades_api/app.db
build/
dist/
sos_trades_api.egg-info/
sos_trades_api/secret
*.bat
sos_trades_api/git_commits_info.json
sos_trades_api/configuration_template/configuration.json
