<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plotly title</title>
</head>
<body>
    <h1>Chart for study case {{data.study_id}}</h1>

        {% for discipline_name, discipline_values in data.graphs_dict.items() %}
            <h3>Discipline: {{discipline_name}}</h3>
            {% for graphs in discipline_values %}
                <h5>For post_processing {{loop.index0}}</h5>
                {% for graph in graphs %}
                    <p>{{graph|safe}}</p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
</body>
</html>